{% extends 'base.html' %}

{% block content %}

  <form class="" action="" method="post">
    {% csrf_token %}
    <input type="text" name="code" placeholder="CHILD PIN">
    <input type="submit" name="" value="Get Child">
  </form>


{% for child in all_codes %}

  {{ child.code }}
  total time: {{ child.total_time }} hours
  total payment: ${{ child.total_payment }}


  <br>
  {% for x in child.all_checks %}
  check in: {{ x.time_in }}
  <br>
  check out: {{ x.time_out }}
  length: {{ x.daily_time }}
  <br><br>
  {% endfor %}
  <hr>

{% endfor %}

{% endblock %}
