{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="ui two column grid">
  <div class="column">
    <div class="ui raised segment massive">
      <h1>
      Drop Them Off & Forget.
      <hr>
      Just Remember To Pick Them Up.
      </h1>
    </div>

    <img class="ui large image" src="{% static 'crying-baby-wallpaper.jpg' %}">

  </div>
  <div class="column">
  <div class="ui segment">
    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="ui massive icon input">
        <input type="text" name="code" placeholder="CHILD PIN">
        <input type="submit" class="massive ui inverted green button" value="ENTER">
      </div>
    </form>
  </div>
  </div>

</div>

{% endblock %}



{% for child in all_codes %}

  {{ child.code }}
  total time: {{ child.total_time }} hours
  total payment: ${{ child.total_payment }}


  <br>
  {% for x in child.all_checks %}
  check in: {{ x.time_in }}
  <br>
  check out: {{ x.time_out }}
  length: {{ x.daily_time }}
  <br><br>
  {% endfor %}
  <hr>

{% endfor %}
